.form-control.searchbar {
  max-width: 300px;
}

.form-select {
  max-width: 200px;
}

.header {
  max-width: 1200px;
}

.table-responsive {
  max-width: 1200px;
  margin: auto;
}

tr.highlight-row > td,
tr.highlight-row > th {
  background-color: red;
  color: white; /* optional: for better contrast */
}